<!-- Footer-->
<footer class="py-3 bg-dark fixed-bottom footer-blur">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright © Shopping App 2024. All Rights Reserved.</p>
    </div>
</footer>
</body>

</html>