<!-- Footer-->
<footer class="py-3 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Shopping App 2024</p>
    </div>
</footer>
</body>

</html>